.clearfix {
  overflow: auto;
  zoom: 1;
}
ul{
  list-style: none;
}
.blue{
  width: 22%;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
}
.white{
  width: 78%;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 22%;
}
.blue .left{
  width: calc(100% - 250px);
  background-color: #1d2531;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
}
.blue .right{
  width: 250px;
  background-color: #222c3c;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 250px);
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 30px;
}
.white .top{
  height: 80px;
}
.white .left{
  background: red;
  width: 400px;
  float: left;
  position: absolute;
  top: 80px;
  bottom: 0;
}
.white .right{
  background-color: aquamarine;
  width: calc(100% - 400px);
  float: right;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 400px;
}
.blue .left p i{
  color: #ffffff;
  font-size: 26px;
  display: inline-block;
  margin-top: 15px;
}
.left p{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  left: 20px;
}
.left p:nth-of-type(1){
  background: #299df5;
  top: 10px;
}
.left p:nth-of-type(2){
  background: #927ee4;
  top: 85px;
}
.left p:nth-of-type(3){
  background: #ee4e32;
  top: 160px;
}
.left p:nth-of-type(4){
  border: 3px solid #2d3848;
  color: #2d3848;
  font-size: 24px;
  top: 230px;
  box-sizing: border-box;
}
.blue .left p span{
  display: inline-block;
  margin-top: 14px;
}
.blue .left div{
  position: fixed;
  bottom: 20px;
  left: 24px;
  color: #475364;
  font-size: 20px;
}
.blue .right ul{
  color: #b7c0cd;
  border-bottom: 1px solid #475364;
  box-sizing: border-box;
  padding: 0;
}
.blue .right ul:nth-of-type(3){
  border-bottom: 0;
}
.blue .right ul li:nth-of-type(1){
  color: #475364;
}
.blue .right ul li:nth-of-type(1) i{
  float: right;
  font-size: 20px;
}
.blue .right ul li{
  padding-left: 0;
  margin-bottom: 18px;
}
.blue .right div{
  position: fixed;
  bottom: 20px;
  color: #ffffff;
}
.blue .right div progress{
  width: 192px;
  height: 5px;
}
